@import "~materialize-css/dist/css/materialize.min.css";

input.yellow-input {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}

input.yellow-input + label {
    color: white !important;
}

input.yellow-input:focus + label {
    color:  #fffe3b !important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #fffe3b !important;
    box-shadow: 0 1px 0 0  #fffe3b !important;
}